.container {
  background: var(--red-200);
  border-radius: 40px;
  padding: 2rem 2rem; 
  margin: 1rem 0;
  color: var(--white);
  width: 100%;
  cursor: pointer;

  p{
    margin-top: 3rem;
    font-size: 3rem;
    text-align: center;
  }
}

.title {
  display: flex;
  align-items: center;

  p {
   margin: 0 !important;
   font-size: 1rem !important;
   
  }

  i{
    display: none;
  }
}

@media (min-width: 576px) {
  .title {
    p {
     font-size: 1rem !important;
    }

    i{
      display: block;
      font-size: 2rem !important;
    }
  }
}

@media (min-width: 992px) {
  .title {
    p {
     font-size: 1rem !important;
    }

    i{
      display: none;
      font-size: 2.5rem !important;
    }
  }
}

@media (min-width: 1250px) {
  .title {
    p {
     font-size: 1rem !important;
    }

    i{
      display: block;
      font-size: 2.5rem !important;
    }
  }
}

