.container{
  main {
    min-height: calc(100vh - 4rem);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
    table{
      padding: 2rem 0;

      td p{
        cursor: pointer;
        color: var(--red-200);
        font-weight: bold;
      }
    }
  }
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  p{
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
  }

  i{
    cursor: pointer;
    color: var(--red-200);
    font-weight: bold;
    font-size: 2rem;
  }
}