.container {
  background: none !important;


  margin-top: 5rem;

  li {
    margin: 1rem 0;

    a {
      color: var(--white);
    }

    button {
      background: none;
      border: none;

      &:hover {
        background: none;
      }
    }
  }
}

.image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;

  margin-top: 4.5rem;

  button,
  button:hover,
  button:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    box-shadow: none;
  }
}
