.container {

  z-index: 1000;

  a {
    cursor: pointer;
  }

  button {
    background: none;
    border: none;

    a {
      display: block;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      line-height: 48px;
      padding: 0 32px;
    }

    &:hover {
      background: none;
    }
  }

  nav {
    background:none;
    color: var(--black);

    .sidenav-trigger {
      color: var(--black);
    }
  }
}


